server:
  port: 80
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/shixun_peer?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimeZone=GMT%2B8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: zhujintao0713
  redis:
    host: localhost
    port: 6379
    password:
    connect-timeout: 10s
    jedis:
      pool:
        max-active: 8
        max-wait: -1s
        max-idle: 8
        min-idle: 0
    database: 0

mybatis-plus:
  global-config:
    db-config:
      id-type: auto
  configuration:
    map-underscore-to-camel-case: true
    auto-mapping-behavior: full
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  mapper-locations: classpath:mapper/*.xml
